<template>
  <div>
    <div ref="container" id="game-container"></div>
  </div>
</template>

<script>
import { Game, AUTO, Scale } from 'phaser'
import TrcgPlugin from './prefabs/TrcgPlugin'
import GameScene from './scenes/GameScene'

const noop = () => {}

export default {
  name: 'Game',
  data () {
    return {
      game: null
    }
  },
  props: {
    socket: {
      type: Object,
      required: true
    },
    room: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    },
    onPlayerUpdate: {
      type: Function,
      default: noop
    },
    onRoomNotFound: {
      type: Function,
      default: noop
    },
    onRoomJoined: {
      type: Function,
      default: noop
    },
    onJoinRoomError: {
      type: Function,
      default: noop
    },
    onRoomJoining: {
      type: Function,
      default: noop
    },
    onTableReset: {
      type: Function,
      default: noop
    }
  },
  mounted () {
    const config = {
      type: AUTO,
      width: 800,
      height: 1000,
      backgroundColor: 0x44BB44,
      parent: this.$refs.container.id,
      scale: {
        mode: Scale.FIT,
        parent: this.$refs.container.id
      },
      plugins: {
        global: [
          {
            key: 'TrcgPlugin',
            plugin: TrcgPlugin,
            start: true
          }
        ]
      },
      scene: [GameScene],
      audio: {
        noAudio: true
      }
    }

    this.game = new Game(config)
    this.game.scene.start('game-scene', {
      socket: this.socket,
      room: this.room,
      user: this.user,
      hooks: {
        onPlayerUpdate: this.onPlayerUpdate,
        onRoomNotFound: this.onRoomNotFound,
        onRoomJoined: this.onRoomJoined,
        onJoinRoomError: this.onJoinRoomError,
        onRoomJoining: this.onRoomJoining,
        onTableReset: this.onTableReset
      }
    })
  },
  beforeDestroy () {
    this.game.destroy()
    this.game = null
  }
}
</script>
