<template>
  <b-modal has-modal-card :can-cancel="false" :active.sync="visible">
    <div class="modal-card">
      <div class="modal-card-body">
        <p class="title">{{ $t('room.modal.disconnect.title') }}</p>
        <p>{{ $t('room.modal.disconnect.content') }}</p>
        <b-button type="is-primary" @click="goBackHome">{{ $t('room.modal.disconnect.button-label') }}</b-button>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalDisconnected',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    goBackHome () {
      this.$router.push({ name: 'homepage' })
    }
  }
}
</script>

<style scoped>
.loader-container {
  height: 50px;
  position: relative;
}
</style>
