<template>
  <b-modal has-modal-card :can-cancel="false" :active.sync="visible">
    <div class="modal-card">
      <div class="modal-card-body">
        <p class="title">{{ $t('error.title') }}</p>
        <p>{{ $t('error.unexpected-disconnect') }}</p>
        <b-button type="is-primary" @click="reload">{{ $t('error.reload-page') }}</b-button>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalConnectionFailed',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    reload () {
      window.location.reload()
    }
  }
}
</script>

<style scoped>
.loader-container {
  height: 50px;
  position: relative;
}
</style>
