<template>
  <b-modal has-modal-card :on-cancel="close" :active="value">
    <div class="modal-card">
      <div class="modal-card-body">
        <p class="title">{{ $t('room.modal.how-to-play.title') }}</p>
        <p class="content" v-html="$t('room.modal.how-to-play.content')"></p>
        <div class="has-text-centered">
          <b-button type="is-primary"  @click="close">{{ $t('room.modal.how-to-play.button') }}</b-button>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalHowToPlay',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    close () {
      this.$emit('input', false)
    }
  }
}
</script>
