<template>
  <b-modal has-modal-card :can-cancel="false" :active="value">
    <div class="modal-card">
      <div class="modal-card-body">
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalConnecting',
  props: {
    visible: {
      type: Boolean,
      default: false
    }
  }
}
</script>
