<template>
  <b-modal has-modal-card :can-cancel="false" :active.sync="visible">
    <div class="modal-card">
      <div class="modal-card-body">
        <slot></slot>
        <div class="loader-container">
          <b-loading :active="true" :is-full-page="false"></b-loading>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalConnecting',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    room: {
      type: Object,
      required: true
    }
  }
}
</script>

<style scoped>
.loader-container {
  height: 50px;
  position: relative;
}
</style>
