<template>
  <b-modal has-modal-card :on-cancel="close" :active="value">
    <div class="modal-card">
      <div class="modal-card-body">
        <p class="title">{{ $t('room.invite-modal.title') }}</p>
        <p>{{ $t('room.invite-modal.label') }}</p>
        <b-field>
          <b-input :value="currentUrl" readonly expanded></b-input>
          <p class="control">
            <b-button type="is-primary" @click="copyToClipboard">{{ $t('room.invite-modal.copy-clipboard') }}</b-button>
          </p>
        </b-field>
        <p>{{ $t('room.invite-modal.copy-help') }}</p>
      </div>
    </div>
  </b-modal>
</template>

<script>
export default {
  name: 'ModalInviteFriends',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    currentUrl () { return window.location.href }
  },
  methods: {
    copyToClipboard () {
      navigator.clipboard.writeText(this.currentUrl)
        .then(() => {
          this.$buefy.toast.open(this.$t('room.invite-modal.url-added-to-clipboard'))
        })
        .catch(err => {
          this.$buefy.toast.open('Failed to copy to clipboard')
          console.error(err)
        })
        .finally(this.close)
    },
    close () {
      this.$emit('input', false)
    }
  }
}
</script>
