<template>
  <div>
    <div class="columns">
      <div class="column is-2">
        <h4 class="title is-4">{{ $t('players.list') }}</h4>
        <ul>
          <li v-for="player in players" :key="player.id" :title="player.color">{{ player.username }}</li>
        </ul>
        <ServerStatus :status="serverStatus" :status-label="$t(`server.status.${this.serverStatus}`)"></ServerStatus>
        <b-button type="is-primary" size="is-small" rounded @click="showInvitePeopleModal = true">{{ $t('room.invite-friends') }}</b-button>
        <b-button type="is-primary" size="is-small" rounded @click="showHelpModal = true">{{ $t('room.modal.how-to-play.show-help') }}</b-button>
        <b-button type="is-primary" size="is-small" rounded @click="confirmResetTable">{{ $t('room.reset.dialog.button') }}</b-button>
      </div>
      <div class="column is-6 is-offset-1">
        <Game
          :socket="socket"
          :room="room"
          :user="user"
          :onRoomNotFound="onRoomNotFound"
          :onPlayerUpdate="onPlayerUpdate"
          :onRoomJoining="onRoomJoining"
          :onRoomJoined="onRoomJoined"
          :onJoinRoomError="onJoinRoomError"
          :onTableReset="onTableReset">
        </Game>
      </div>
    </div>
    <ModalHowToPlay v-test:modal-how-to-play v-model="showHelpModal"></ModalHowToPlay>
    <ModalInviteFriends v-model="showInvitePeopleModal"></ModalInviteFriends>
  </div>
</template>

<script>
import Game from '../game/Game'
import ServerStatus from '../ServerStatus/ServerStatus'
import ModalHowToPlay from './ModalHowToPlay'
import ModalInviteFriends from './ModalInviteFriends'

const noop = () => {}

export default {
  name: 'ScreenGame',
  components: {
    Game,
    ServerStatus,
    ModalHowToPlay,
    ModalInviteFriends
  },
  props: {
    roomStatus: {
      type: String,
      required: true
    },
    serverStatus: {
      type: String,
      required: true
    },
    room: {
      type: Object,
      required: true
    },
    socket: {
      type: Object,
      required: true
    },
    user: {
      type: Object,
      required: true
    },
    onRoomNotFound: {
      type: Function,
      default: noop
    },
    onRoomJoined: {
      type: Function,
      default: noop
    },
    onJoinRoomError: {
      type: Function,
      default: noop
    },
    onRoomJoining: {
      type: Function,
      default: noop
    }
  },
  data () {
    return {
      showInvitePeopleModal: false,
      showHelpModal: false,
      players: []
    }
  },
  mounted () {
    if (!localStorage.getItem('showHelp')) {
      this.showHelpModal = true
      localStorage.setItem('showHelp', true)
    }
  },
  methods: {
    onPlayerUpdate ({ players }) { this.players = players },
    emitState (newState) { this.$emit('input', newState) },
    confirmResetTable () {
      this.$buefy.dialog.confirm({
        title: this.$t('room.reset.dialog.title'),
        message: this.$t('room.reset.dialog.message'),
        confirmText: this.$t('room.reset.dialog.confirm'),
        cancelText: this.$t('room.reset.dialog.cancel'),
        type: 'is-danger',
        onConfirm: () => this.socket.emit('table:reset', { roomId: this.room.id })
      })
    },
    onTableReset ({ user }) {
      this.$buefy.toast.open(this.$t('room.reset.toast', { user: user.username }))
    }
  }
}
</script>
