<template>
  <b-taglist attached>
    <b-tag type="is-dark" rounded>{{ $t('app.status') }}</b-tag>
    <b-tag :type="normalizedStatus" rounded>{{ statusLabel }}</b-tag>
  </b-taglist>
</template>

<script>

const statusColors = {
  connected: 'is-success',
  disconnected: 'is-warning',
  reconnecting: 'is-info'
}

export default {
  name: 'ServerStatus',
  props: {
    status: {
      type: String,
      required: true
    },
    statusLabel: {
      type: String,
      required: true
    }
  },
  computed: {
    normalizedStatus () {
      return this.status in statusColors ? statusColors[this.status] : 'light'
    }
  }
}
</script>
