<template>
  <div>
    <b-navbar>
      <template slot="brand">
        <b-navbar-item transparent tag="router-link" :to="{ path: '/' }">TRCG</b-navbar-item>
      </template>
      <template slot="start">
        <b-navbar-item tag="div">
          <router-link class="navbar-item" :to="{ name: 'create-room' }">
            {{ $t('room.create') }}
          </router-link>
          <router-link class="navbar-item" :to="{ name: 'join-room' }">
            {{ $t('room.join.title') }}
          </router-link>
        </b-navbar-item>
      </template>

      <template slot="end">
        <b-navbar-item tag="div">
          <div class="buttons">
            <a class="button is-light" :title="`ID: #${this.user.id}`" @click="editUserSettings" v-test:user-username>
              {{ $t('home.greets', { username: this.user.username }) }}
            </a>
            <v-swatches :value="user.color" @input="updatePlayerColor" popover-x="left" v-test:user-color></v-swatches>
          </div>
        </b-navbar-item>
      </template>
    </b-navbar>
    <section class="hero is-small is-primary is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">TRCG - The Ruleless Cards Game</h1>
        </div>
      </div>
    </section>
    <section class="section">
      <router-view />
    </section>
  </div>
</template>

<script>
import VSwatches from 'vue-swatches'

import 'vue-swatches/dist/vue-swatches.css'

export default {
  name: 'App',
  components: {
    VSwatches
  },
  computed: {
    user () {
      return this.$store.state.User
    }
  },
  data () {
    return {
      color: '#A463BF'
    }
  },
  watch: {
    '$route' (to, from) {
      document.title = `${to.meta.title} | TRCG 🃏` || 'The Ruleless Cards Game'
    }
  },
  methods: {
    editUserSettings () {
      this.$buefy.dialog.prompt({
        message: this.$t('app.type-your-username'),
        inputAttrs: {
          minLength: 2,
          value: this.user.username,
          'data-test': 'update-username'
        },
        cancelText: this.$t('app.settings.cancel'),
        confirmText: this.$t('app.settings.confirm'),
        onConfirm: value => {
          this.$store.dispatch('updateUsername', value)
        }
      })
    },
    updatePlayerColor (color) {
      this.$store.dispatch('updateColor', color)
    }
  }
}
</script>
