<template>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <h3 class="title is-3">{{ $t('room.create') }}</h3>
        <form @submit.prevent="createRoom" v-test:form-create-room>
          <b-field :label="$t('room.form.fields.name.label')">
            <b-input type="text" v-test:input-name v-model="room.name" :placeholder="$t('room.form.fields.name.placeholder')"></b-input>
          </b-field>
          <b-collapse :open="false" position="is-bottom" aria-id="more-options-to-create-room">
            <a slot="trigger" slot-scope="props" aria-controls="more-options-to-create-room"  v-test:form-more-options-button>
              <b-icon :icon="!props.open ? 'menu-down' : 'menu-up'"></b-icon>
              {{ $t(!props.open ? 'room.form.collapse.more' : 'room.form.collapse.less') }}
            </a>
            <div class="columns">
              <div class="column">
                <b-field :label="$t('room.form.fields.deck_number.label')">
                  <b-select v-model="room.deck.nbDeck" placeholder="Number of decks" v-test:input-nb-deck>
                    <option
                        v-for="nbDeck in nbDecks"
                        :value="nbDeck"
                        :key="nbDeck">
                        {{ $tc('room.form.fields.deck_number.option', nbDeck, { nbDeck }) }}
                    </option>
                  </b-select>
                </b-field>
              </div>
              <div class="column">
                <b-field :label="$tc('room.form.fields.deck_size.label', room.deck.nbDeck)">
                  <b-select v-model="room.deck.type" placeholder="Deck size" v-test:input-deck-size>
                    <option
                        v-for="deckSize in deckSizes"
                        :value="deckSize"
                        :key="deckSize">
                        {{ $tc('room.form.fields.deck_size.option', deckSize, { deckSize }) }}
                    </option>
                  </b-select>
                </b-field>
              </div>
            </div>

            <b-field :label="$t('room.form.fields.shuffle.label')">
              <b-switch v-model="room.deck.shuffled" v-test:input-radio-shuffle>
                {{ $tc('room.form.fields.shuffle.option', room.deck.shuffled) }}
              </b-switch>
            </b-field>

          </b-collapse>
          <p class="has-text-weight-light" v-test:room-summary>{{ $t('room.form.summary.about', { nbCards: room.deck.type * room.deck.nbDeck }) }} {{ $tc('room.form.summary.is_shuffled', room.deck.shuffled) }}</p>
          <b-button type="is-primary" native-type="submit" v-test:button-create>{{ $t('room.create') }}</b-button>
          <div v-if="waiting">{{ $t('room.creating') }}</div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'CreateRoom',
  data () {
    return {
      room: {
        name: '',
        deck: {
          type: 52,
          nbDeck: 1,
          shuffled: true
        }
      },
      nbDecks: [1, 2],
      deckSizes: [32, 52],
      waiting: false
    }
  },
  methods: {
    async createRoom () {
      this.waiting = true
      try {
        const response = await axios.post(`${process.env.VUE_APP_API_ENDPOINT}/rooms`, this.room)

        this.$router.push({
          name: 'room',
          params: {
            roomId: response.data.id
          }
        })
      } catch (error) {
        alert(error.message)
      }
      this.waiting = false
    }
  }
}
</script>
