<template>
  <div>
    <div class="container has-text-centered">
      <h1 class="title is-1">{{ $t('home.page.section-what-is-it.title') }}</h1>
      <p>{{ $t('home.page.section-what-is-it.text') }}</p>
    </div>
    <div class="container has-text-centered">
      <h1 class="title is-1">{{ $t('home.page.section-how-to-play.title') }}</h1>
      <p>{{ $t('home.page.section-how-to-play.text') }}</p>
      <b-button size="is-large" type="is-primary" tag="router-link" :to="{ name: 'create-room' }">{{ $t('home.i-want-to-play') }}</b-button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Homepage'
}
</script>
