<template>
  <div class="container">
    <h3 class="title is-3">{{ $t('room.join.title') }}</h3>
    <p class="help-text">{{ $t('room.join.paste-identifier') }}</p>
    <form @submit.prevent="join" v-test:join-room-form>
      <b-field>
        <b-input type="text" expanded v-model="roomId" placeholder="b4761c38-5973-43a3-b853-549b1858bd29" v-test:join-room-id></b-input>
        <p class="control">
          <b-button type="is-primary" native-type="submit" class="is-center">{{ $t('room.join.join') }}</b-button>
        </p>
      </b-field>
    </form>
  </div>
</template>

<script>
export default {
  name: 'JoinRoom',
  data () {
    return {
      roomId: ''
    }
  },
  methods: {
    join () {
      this.$router.push({
        name: 'room',
        params: {
          roomId: this.roomId
        }
      })
    }
  }
}
</script>
