<template>
  <div class="container has-text-centered">
    <h1 class="title is-1">{{ $t('error.title') }} <span v-if="code">(#{{ code }})</span></h1>
    <p>{{ message }}</p>
    <b-button type="is-primary" @click="goBackHome">{{ $t('error.go-back-home') }}</b-button>
  </div>
</template>
<script>
export default {
  name: 'Oops',
  props: {
    code: {
      type: Number,
      default: null
    },
    message: {
      type: String,
      default () { return this.$t('error.generic') }
    }
  },
  methods: {
    goBackHome () {
      this.$router.push({ name: 'homepage' })
    }
  }
}
</script>
