<template>
  <div class="container-fluid">
    <ModalConnecting
      :visible="isConnectingToServer"
      :room="room">
      <p class="title">{{ $t('room.loading.title') }}</p>
      <p>{{ $t('room.loading.server') }}</p>
    </ModalConnecting>
    <ModalConnectionFailed :visible="hasConnectionError"></ModalConnectionFailed>
    <ModalDisconnected :visible="isDisconnected"></ModalDisconnected>
    <ScreenGame
      v-if="isConnectedToServer"
      :room="room"
      :user="user"
      :socket="socket"
      :serverStatus="serverStatus"
      :roomStatus="roomStatus"
      :onRoomJoined="onRoomJoined"
      :onRoomJoinError="onRoomJoinError"
      :onRoomJoining="onRoomJoining"
      :onRoomNotFound="onRoomNotFound">
    </ScreenGame>
  </div>
</template>

<script>
import io from 'socket.io-client'
import { SnackbarProgrammatic as Snackbar } from 'buefy'

import ModalConnecting from '../components/room/ModalConnecting'
import ModalConnectionFailed from '../components/room/ModalConnectionFailed'
import ModalDisconnected from '../components/room/ModalDisconnected'
import ScreenGame from '../components/room/ScreenGame'

import { SET_USER } from '../store/modules/User/mutations-types'

const SERVER_STATUS_CONNECTED = 'connected'
const SERVER_STATUS_CONNECTING = 'connecting'
const SERVER_STATUS_DISCONNECTED = 'disconnected'
const SERVER_STATUS_CONNECTION_ERROR = 'connection.error'
const SERVER_STATUS_RECONNECTING = 'reconnecting'

const SERVER_STATUSES = [
  SERVER_STATUS_CONNECTED,
  SERVER_STATUS_CONNECTING,
  SERVER_STATUS_DISCONNECTED,
  SERVER_STATUS_CONNECTION_ERROR,
  SERVER_STATUS_RECONNECTING
]

const ROOM_STATUS_DISCONNECTED = 'disconnected'
const ROOM_STATUS_CONNECTED = 'connected'
const ROOM_STATUS_JOINING = 'joining'

export default {
  name: 'Room',
  components: {
    ModalConnecting,
    ModalConnectionFailed,
    ModalDisconnected,
    ScreenGame
  },
  props: {
    room: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      socket: null,
      serverStatus: SERVER_STATUS_CONNECTING,
      roomStatus: ROOM_STATUS_DISCONNECTED,
      unSubscribeToPlayerUpdates: () => {}
    }
  },
  computed: {
    isJoiningRoom () { return this.roomStatus === ROOM_STATUS_JOINING },
    isConnectedToRoom () { return this.roomStatus === ROOM_STATUS_CONNECTED },
    isConnectingToServer () { return this.serverStatus === SERVER_STATUS_CONNECTING },
    isConnectedToServer () { return this.serverStatus === SERVER_STATUS_CONNECTED },
    hasConnectionError () { return this.serverStatus === SERVER_STATUS_CONNECTION_ERROR },
    isDisconnected () { return this.serverStatus === SERVER_STATUS_DISCONNECTED },
    normalizedServerStatus () {
      return this.serverStatus in SERVER_STATUSES ? this.$t(`server.status.${this.serverStatus}`) : 'server.status.unknown'
    },
    user () { return this.$store.state.User }
  },
  mounted () {
    this.connect()
  },
  beforeDestroy () {
    this.socket && this.socket.disconnect()
    this.unSubscribeToPlayerUpdates()
  },
  methods: {
    onRoomJoined (payload) {
      this.roomStatus = ROOM_STATUS_CONNECTED
    },
    onRoomJoining () {
      this.roomStatus = ROOM_STATUS_JOINING
    },
    onRoomJoinError (payload) {
      this.roomStatus = ROOM_STATUS_DISCONNECTED
      this.$buefy.toast.open(this.$t('room.join.failed'))
    },
    leave () {
      this.roomStatus = ROOM_STATUS_DISCONNECTED
      this.socket.emit('room:leave', { roomId: this.room.id })
      this.$buefy.toast.open(this.$t('room.leaved'))
    },
    onRoomNotFound ({ roomId }) {
      Snackbar.open({
        message: `The room ${roomId} does not seems to exist. Redirecting to the homepage`,
        type: 'is-danger',
        position: 'is-top'
      })
      this.$router.push({ name: 'homepage' })
    },
    async connect () {
      this.socket = io.connect(`${process.env.VUE_APP_WS_ENDPOINT}`)

      this.socket.on('error', err => {
        console.error(err)
      })

      this.socket.on('connecting', () => {
        console.info('connecting')
        this.serverStatus = SERVER_STATUS_CONNECTING
      })

      this.socket.on('connect', () => {
        this.serverStatus = SERVER_STATUS_CONNECTED
        console.log('Connection established, now waiting to join...')
        this.unSubscribeToPlayerUpdates = this.$store.subscribe(mutation => {
          if (mutation.type !== SET_USER) {
            return
          }
          this.socket.emit('player:update', { user: mutation.payload, roomId: this.room.id })
        })
      })

      this.socket.on('connect_error', error => {
        this.serverStatus = SERVER_STATUS_CONNECTION_ERROR
        Snackbar.open({
          message: error.message,
          type: 'is-danger',
          position: 'is-top'
        })
      })

      this.socket.on('connect_timeout', timeout => {
        console.error(`Connection failed: timeout exceeded ${timeout}`)
      })

      this.socket.on('disconnect', reason => {
        this.serverStatus = SERVER_STATUS_DISCONNECTED
        console.warn(`Disconnected from server. Reason: ${reason}`)
        this.socket.disconnect()
      })
    }
  }
}
</script>
